__pycache__/
.DS_Store/
.cache/
.vscode/
build/

# ESP32 build
/partitions.bin
/partitions.csv
/sdkconfig.old
/sdkconfig
/*/sdkconfig.old
/*/sdkconfig
/*.fw
/*.img
/*.zip

# SDL2 build
/sd
/stderr.txt
/stdout.txt
/gmon.out
/*.exe
/oracle_gb
/oracle_nes
/oracle_pce
/oracle_sms

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
